<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="Mycompany\Webservice\Api\CustomersInterface" type="Mycompany\Webservice\Model\Customers" />
    
    <preference for="Magento\Customer\Model\ResourceModel\Customer" type="Mycompany\Webservice\Model\ResourceModel\Customer" />
    
    <preference for="Magento\Customer\Controller\Account\Logout" type="Mycompany\Webservice\Controller\Account\Logout"/> 

    <preference for="\Magento\Framework\Mail\Transport" type="Mycompany\Webservice\Model\Transport"/>
    
    

   <type name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <plugin name="Mycompany\Webservice\Model\ResourceModel\Fulltext\Collection" 
                type="Mycompany\Webservice\Model\ResourceModel\Fulltext\Collection" 
                sortOrder="10" 
                disabled="false"/>
   </type>

</config>