<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    
          
      <router id="standard">
       
        <route id="marketplaceauth" frontName="marketplaceauth">
 		 <module name="Mycompany_Webservice" before="Magento_Customer"/>
        </route>
        
        <route id="mycompany_webservices"  frontName="customers">
            <module name="Mycompany_Webservice"  />
        </route>
        
    </router>

</config>
